<div class="card" style="width: 100%;">
  <div class="card-header">
      Desafio Solutis: Retornar uma vogal que sucede uma consoante e que não se repita
  </div>
  <div class="card-body">
    <div class="col-md-12">
      <form [formGroup]="formSearch">
    
        <div class="form-group row">
    
          <div class="col-sm-6">
              <label for="filter">Digite uma palavra:</label>
              <input type="text" formControlName="filter" class="form-control" name="filter" id="filter">
              <span class="erro" *ngIf="!formSearch.valid">Campo Obrigatório</span>
          </div>
    
        </div>
    
        <button class="btn btn-success" (click)="findVogal()">Buscar</button>
      </form>
    </div>
  </div>
</div>
<div class="card" style="width: 100%;">
  <div class="card-header">
      Histórico de Buscas
  </div>
  <div class="card-body">
    <div class="col-md-12">
      <table classs="table table-bordered">
        <thead>
          <tr>
            <th>Item</th>
            <th>Valor</th>
            <th>Resposta</th>
            <th class="col-number">Tempo de Resposta</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of lista | async ; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.value }}</td>
            <td>{{ item.response }}</td>
            <td class="col-number">{{ item.time }} ms</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
